body{
  background-color: rgba(245, 245, 245, 0.329);
}

.container{
  display: flex;
  justify-content: center;
}
.book-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgba(0, 0, 0, 0.267);
  max-width: 70%;
  flex-wrap: wrap;
}
.book-text-container{
  margin-left:70px;
  max-width:60%
}
.h1-text{
  letter-spacing: .4mm;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  flex-wrap: wrap;
  color: black;
}
.h2-text{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-style: italic;
  flex-wrap: wrap;
  color: black;
  
}
.h3-text{
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  margin-top: -25px;
  flex-wrap: wrap;
  color: black;
}
.p-text{
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  flex-wrap: wrap;
  color: black;
}
.btn-showMore{
  font-family: 'Playfair Display', serif;
  background-color: rgba(245, 245, 245, 0.329);
  border: .2px solid rgba(156, 156, 156, 0.703);
  font-size: 15px;
  flex-wrap: wrap;
  color: black;
}
.btn-add{
  padding: 8px;
  background-color: white;
  border: 2px solid rgba(3, 48, 3, 0.495);
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  color: black;
}
.btn-add-like{
  padding: 5px;
  width: 10%;
  background-color: white;
  border: 2px solid rgba(3, 48, 3, 0.495);
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: black;
}
.btn-add:hover{
  background-color: rgba(238, 239, 235, 0.769);
}
.btn{
  padding: 8px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  background-color: rgba(245, 245, 245, 0);
  color: black;

}

.book-container-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  padding: 10px;
  margin: 10px;
  max-width: 80%;
  flex-wrap: wrap;
}

.book-text-container-list{
  margin-left:100px;
  max-width:60%
}

.btn-add-list{
  padding: 8px;
  width: 20%;
  background-color: white;
  border: 2px solid rgba(3, 48, 3, 0.772);
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  color: black;
}
.btn-add-list:hover{
  background-color: rgba(165, 42, 42, 0.176);
}

@media all and (max-width:1000px){
  .book-container{
    padding: 2px;
    margin: 2px;
    max-width: 55%;
    flex-wrap: wrap;
  }
  .book-text-container{
    margin-left:10px;
    max-width:100%
  }
  .h1-text{
    letter-spacing: .2mm;
    font-size: 17px;
  }
  .h2-text{
    font-size: 15px;    
  }
  .h3-text{
    font-size: 12px;
    margin-top: -5px;
    
  }
  .p-text{
    font-size: 13px;
  }
  .btn-add-like{
    width: 30%;
    font-size: 12px;
  }
  .btn{
    font-size: 20px;
    padding: 2px;
  }
  .image-slides{
    width: 100px;
   
  }
  .image-map{
    width: 60px;
  }
  .book-container-list{
    padding: 8px;
    margin: 0px;
    max-width: 70%;
    flex-wrap: wrap;
  }
  .book-text-container-list{
    margin-left:8px;
    max-width:60%
  }
  .btn-add-list{
    padding: 2px;
    width: 20%;
    font-size: 13px;
  }
}
